<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/404.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
</head>

<body>
    <img src="https://i.imgur.com/hZUJnet.png" alt="404 error fren" class="mx-auto d-block img-fluid">
    <div class="container-fluid">
        <h1>404</h1>
        <h2>Page not found</h2>
        <h3>The Page you're looking for doesnt exist or an other error occured</h3>
    </div>
</body>

</html>