<!DOCTYPE html>
<html lang="es">
{% extends 'base.html' %} 
{% load staticfiles %}

<head>
    <title>
        {% block title %} Coberturas Adicionales {% endblock title %}
    </title>
    <link rel="stylesheet" href= {% block css %} "{% static 'home/extra.css' %}" {% endblock css %}>
</head>

<body>
    {% block btnhref %}
        "/"
    {% endblock btnhref %}

    
    {% block btntxt %}
        English
    {% endblock btntxt %}

    {% block body %}


    <div class="container-fluid">
        <div id="services">
            <h2 class="text-center ">Coberturas Que Ofrecemos</h2>
            <div class="row ">
                <div id="auto-img">
                    <h2 class="text-center">Auto</h2>
                </div>
            </div>
            <div class="row">
                <div id="home-img">
                    <h2 class="text-center">Casa</h2>
                </div>
            </div>
            <div class="row">
                <div id="comm-img">
                    <h2 class="text-center">Comercial</h2>
                </div>
            </div>
            <div class="row">
                <div id="flood-img">
                    <h2 class="text-center">Inundación</h2>
                </div>
            </div>
            <div class="row">
                <div id="jewelry-img">
                    <h2 class="text-center">Joyería</h2>
                </div>
            </div>
            <div class="row">
                    <div id="mexico-img">
                        <h2 class="text-center">México</h2>
                    </div>
                </div>
        </div>
        {% endblock body %}

</body>

</html>