<!-- ets staic files-->
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/twfg.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/twfg2.css' %}" />
{% if content %}
    <!DOCTYPE html>
    <html>

    <title>
        Estela Portillo Insurance Services
    </title>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48284132 = new Ya.Metrika({ id:48284132, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/48284132" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="twfg.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <header class="navigation">
        <div id="twfgtoplogo">
            <img src="https://i.imgur.com/zoHoex1.png">


            <div id="menu">
                <a href="#why_choose_us">Why choose us</a>


                <a href="#services">Services</a>


                <a href="#About_us">About us</a>


                <a href="#contact">Contact Us</a>
            </div>
        </div>
    <!-- just incase i have a banner -->
        <div id="banner">
            <h4 >{{content}}</h4>
        </div>
    </header>




    <body>
        <div id="insurance-image">
            <h1>Our Policy is Caring</h1>
        </div>
        <div id="text">
            <div id="why_choose_us">
                <h2>Why Choose Us</h2>
                <ul>
                    <li>Family Owned, Quality Service </li>
                    <li>Experienced & Professional</li>
                    <li>Competitive pricing</li>
                    <li>Multiple carriers </li>
                </ul>
            </div>
        </div>
        <div id="services">
            <h2>Coverages We Offer</h2>
            <div id="serviceslist">
                <ul>
                    <li class="auto">
                        <p>Auto</p>
                    </li>
                    <li class="home">
                        <p>Home</p>
                    </li>
                    <li class="com">
                        <p> Commercial</p>
                    </li>

                </ul>
            </div>
        </div>


        <div id="About_us">
            <h2>About us</h2>
            <p>We are a family owned office that has serving the Houston area since 2006 with all insurance needs. <br> Since
                the moment we started our little business we wanted to maintain a family oriented business with an emphasis
                on honesty and support. <br> Which isn't seen much today, unfortunately, We like to give it straight to our
                clients, no sugarcoat, and look to provide the best coverage for all their needs. <br> your looking
                for on-demand support, something big chain companies can't provide, you have found the ideal place.
                We are always one call away to answer any and all question you may have.</p>

        </div>
        <div id="contact">
            <h2>Contact Us</h2>
            <p>Email: estelatwfg@hotmail.com</p>
            <p>Office: (832)446-6350</p>
            <p>Mobile: (281)701-7397</p>
            <p>Fax: (832)446-6418</p>
        </div>


    </body>


    </html>
{% else %}
    <!-- NO BANNER HTML -->
    <!DOCTYPE html>
    <html>

    <title>
        Estela Portillo Insurance Services
    </title>
    <link rel="stylesheet" href="twfg2.css">
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48284132 = new Ya.Metrika({ id:48284132, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/48284132" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <header class="navigation">
        <div id="twfgtoplogo">
            <img src="https://i.imgur.com/zoHoex1.png">


            <div id="menu">
                <a href="#why_choose_us">Why choose us</a>


                <a href="#services">Services</a>


                <a href="#about_us">About us</a>


                <a href="#contact">Contact Us</a>
            </div>
        </div>
    <!-- just incase i have a banner
        <div id="banner">
            <h4 >A really long parragraph just to see how the text would overflow if the screen is to small just wanna see just tbh</h4>
        </div>
        -->
    </header>




    <body>
        <div id="insurance-image">
            <h1>Our Policy is Caring</h1>
        </div>
        <div id="text">
            <div id="why_choose_us">
                <h2>Why Choose Us</h2>
                <ul>
                    <li>Family Owned, Quality Service </li>
                    <li>Experienced & Professional</li>
                    <li>Competitive pricing</li>
                    <li>Multiple carriers </li>
                </ul>
            </div>
        </div>
        <div id="services">
            <h2>Coverages We Offer</h2>
            <div id="serviceslist">
                <ul>
                    <li class="auto">
                        <p>Auto</p>
                    </li>
                    <li class="home">
                        <p>Home</p>
                    </li>
                    <li class="com">
                        <p> Commercial</p>
                    </li>

                </ul>
            </div>
        </div>


        <div id="about_us">
            <h2>About us</h2>
            <p>We are a family owned office that has serving the Houston area since 2006 with all insurance needs. <br> Since
                the moment we started our little business we wanted to maintain a family oriented business with an emphasis
                on honesty and support. <br> Which isn't seen much today, unfortunately, We like to give it straight to our
                clients, no sugarcoat, and look to provide the best coverage for all their needs. <br> your looking
                for on-demand support, something big chain companies can't provide, you have found the ideal place.
                We are always one call away to answer any and all question you may have.</p>

        </div>
        <div id="contact">
            <h2>Contact Us</h2>
            <p>Email: estelatwfg@hotmail.com</p>
            <p>Office: (832)446-6350</p>
            <p>Mobile: (281)701-7397</p>
            <p>Fax: (832)446-6418</p>
        </div>


    </body>


    </html>
{% endif %}