<!DOCTYPE html> {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{%  if content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Estela Portillo Insurance Services
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'home/twfg.css' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter48284132 = new Ya.Metrika({ id: 48284132, clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/48284132" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation-->
    <div class="container-fluid">
        <div class="lol">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white">

                <a class="navbar-brand navbar-logo mx-auto" href="#">
                    <img src="https://i.imgur.com/zoHoex1.png" alt="twfg logo" style="width:241px;" class="img-fluid">
                </a>
            </nav>
            <div id="button" class="text-center">
                <a href="./es" class="btn" role="button">Español</a>
            </div>
        </div>
    </div>
    <!--Banner-->
    <div class="text-center" id="banner">
        <h4> {{content}}</h4>
    </div>
    <!-- main image-->
    <div class="jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">Our Policy is Caring</h1>
        </div>
    </div>
    <!-- why choose us -->
    <div class="container">
        <div id="why_choose_us" class="text-center">
            <h1>Why Choose Us</h1>
            <ul>
                <li>Family Owned, Quality Service</li>
                <li>Experienced & Professional</li>
                <li>Competitive pricing</li>
                <li>Multiple carriers</li>
            </ul>
        </div>
    </div>
    <!-- Services-->
    <div class="container-fluid">
        <div id="services">
            <h2 class="text-center ">Coverages We Offer</h2>
            <div class="row ">
                <div id="auto-img">
                    <h2 class="text-center">Auto</h2>
                </div>
            </div>
            <div class="row">
                <div id="home-img">
                    <h2 class="text-center">Home</h2>
                </div>
            </div>
            <div class="row">
                <div id="comm-img">
                    <h2 class="text-center">Commercial</h2>
                </div>
            </div>
            <div class="row">
                <div id="flood-img">
                    <h2 class="text-center">Flood</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="border1"></div>
    <!-- About Us-->
    <div class="container text-center">
        <div id="about_us">
            <h1>About Us</h1>
            <p>We are a family owned office that has serving the Houston area since 2006 with all insurance needs.
                <br> Since the moment we started our little business we wanted to maintain a family oriented business with an
                emphasis on honesty and support.
                <br> Which isn't seen much today, unfortunately, We like to give it straight to our clients, no sugarcoat, and
                look to provide the best coverage for all their needs.
                <br> your looking for on-demand support, something big chain companies can't provide, you have found the ideal
                place. We are always one call away to answer any and all question you may have.</p>
        </div>
    </div>
    <!-- footer-->
    <div class="container-fluid">
        <div class="text-center" id="footer">
            <h1>Contact Us</h1>
            <p>Email: estelatwfg@hotmail.com</p>
            <p>Office: (832)446-6350</p>
            <p>Mobile: (281)701-7397</p>
            <p>Fax: (832)446-6418</p>
            <p>4420 Cypress Creek Pkwy
                <br> Suite 201</p>
            <a href="https://www.facebook.com/Estela-Portillo-Twfg-Insurance-210860899505324/" target="_blank">
                <img src="https://i.imgur.com/YJPKBL5.png" alt="facebook" id="facebook">
            </a>
        </div>
    </div>
    <!--Map-->
    <div class="container-fluid">
        <div id="map">
            <script>
                function initMap() {
                    // Create a new StyledMapType object, passing it an array of styles,
                    // and the name to be displayed on the map type control.


                    // Create a map object, and include the MapTypeId to add
                    // to the map type control.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 29.989525, lng: -95.496559 },
                        zoom: 16,
                        styles: [
                            {
                                "featureType": "administrative.land_parcel",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative.neighborhood",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.business",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            }
                        ]
                    });
                    var uluru = { lat: 29.989525, lng: -95.496559 };
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                    //Associate the styled map with the MapTypeId and set it to display.


                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpFicvIMk-qD0f4-YkagX6QVFXR0prLBs&callback=initMap">
            </script>
        </div>

    </div>
</body>

</html>

{%  else %}
<!DOCTYPE html> {% load staticfiles %}
<!DOCTYPE html>
<!DOCTYPE html> {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Estela Portillo Insurance Services
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'home/idk.css' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'home/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'home/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'home/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'home/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'home/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'home/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'home/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'home/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'home/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'home/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="home/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="home/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter48284132 = new Ya.Metrika({ id: 48284132, clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/48284132" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation-->
    <div class="container-fluid">
        <div class="lol">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white">

                <a class="navbar-brand navbar-logo mx-auto" href="#">
                    <img src="https://i.imgur.com/zoHoex1.png" alt="twfg logo" style="width:241px;" class="img-fluid">
                </a>
            </nav>
            <div id="button" class="text-center">
                <a href="./es" class="btn" role="button">Español</a>
            </div>
        </div>
    </div>
    <!--Banner
    <div class="text-center" id="banner">
        <h4> {{text}}</h4>
    </div>
-->
    <!-- main image-->
    <div class="jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">Our Policy is Caring</h1>
        </div>
    </div>
    <!-- why choose us -->
    <div class="container">
        <div id="why_choose_us" class="text-center">
            <h1>Why Choose Us</h1>
            <ul>
                <li>Family Owned, Quality Service</li>
                <li>Experienced & Professional</li>
                <li>Competitive pricing</li>
                <li>Multiple carriers</li>
            </ul>
        </div>
    </div>
    <!-- Services-->
    <div class="container-fluid">
        <div id="services">
            <h2 class="text-center ">Coverages We Offer</h2>
            <div class="row ">
                <div id="auto-img">
                    <h2 class="text-center">Auto</h2>
                </div>
            </div>
            <div class="row">
                <div id="home-img">
                    <h2 class="text-center">Home</h2>
                </div>
            </div>
            <div class="row">
                <div id="comm-img">
                    <h2 class="text-center">Commercial</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="border1"></div>
    <!-- About Us-->
    <div class="container text-center">
        <div id="about_us">
            <h1>About Us</h1>
            <p>We are a family owned office that has serving the Houston area since 2006 with all insurance needs.
                <br> Since the moment we started our little business we wanted to maintain a family oriented business with an
                emphasis on honesty and support.
                <br> Which isn't seen much today, unfortunately, We like to give it straight to our clients, no sugarcoat, and
                look to provide the best coverage for all their needs.
                <br> your looking for on-demand support, something big chain companies can't provide, you have found the ideal
                place. We are always one call away to answer any and all question you may have.</p>
        </div>
    </div>
    <!-- footer-->
    <div class="container-fluid">
        <div class="text-center" id="footer">
            <h1>Contact Us</h1>
            <p>Email: estelatwfg@hotmail.com</p>
            <p>Office: (832)446-6350</p>
            <p>Mobile: (281)701-7397</p>
            <p>Fax: (832)446-6418</p>
            <p>4420 Cypress Creek Pkwy
                <br> Suite 201</p>
            <a href="https://www.facebook.com/Estela-Portillo-Twfg-Insurance-210860899505324/" target="_blank">
                <img src="https://i.imgur.com/YJPKBL5.png" alt="facebook" id="facebook">
            </a>
        </div>
    </div>
    <!--Map-->
    <div class="container-fluid">
        <div id="map">
            <script>
                function initMap() {
                    // Create a new StyledMapType object, passing it an array of styles,
                    // and the name to be displayed on the map type control.


                    // Create a map object, and include the MapTypeId to add
                    // to the map type control.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 29.989525, lng: -95.496559 },
                        zoom: 16,
                        styles: [
                            {
                                "featureType": "administrative.land_parcel",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative.neighborhood",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.business",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            }
                        ]
                    });
                    var uluru = { lat: 29.989525, lng: -95.496559 };
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                    //Associate the styled map with the MapTypeId and set it to display.


                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpFicvIMk-qD0f4-YkagX6QVFXR0prLBs&callback=initMap">
            </script>
        </div>

    </div>
</body>

</html>

{% endif %}

