{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
</head>

<body>
    
    {% block btnhref %}
        "/"
    {% endblock btnhref %}

    
    {% block btntxt %}
        English
    {% endblock btntxt %}
        
        
    {% block body %}
        
        
       {% if text %}

    <!--Banner-->
    <div class="text-center" id="banner">
        <h4> {{text}}</h4>
    </div>
    <!-- main image-->
    <div class="jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">Nuestra Lema es Proteger</h1>
        </div>
    </div>
    <!-- why choose us -->
    <div class="container">
        <div id="why_choose_us" class="text-center">
            <h1>Porque Seleccionarlos</h1>
            <ul>
                <li>Negocio de Familia, Calidad de Servicio</li>
                <li>Experiencia y Profesionalidad</li>
                <li>Precios competitivos</li>
                <li>Variedad de Companias</li>
            </ul>
        </div>
    </div>
    <!-- Services-->
    <div class="container-fluid">
        <div id="services">
            <h2 class="text-center ">Coverturas que ofrecemos</h2>
            <div class="row ">
                <div id="auto-img">
                    <h2 class="text-center">Auto</h2>
                </div>
            </div>
            <div class="row">
                <div id="home-img">
                    <h2 class="text-center">Casa</h2>
                </div>
            </div>
            <div class="row">
                <div id="comm-img">
                    <h2 class="text-center">Comercial</h2>
                </div>
            </div>
            <div class="row">
                <div id="flood-img">
                    <h2 class="text-center">Inundación</h2>
                </div>
            </div>
        </div>
        <div class="text-center" id='more'>
                <h2><a href="/mas">Más Coberturas ...</a></h2>
        </div>
    </div>
    <div id="border1"></div>
    <!-- About Us-->
    <div class="container text-center">
        <div id="about_us">
            <h1>Quienes Somos</h1>
            <p>Somos una compania de familia que ha servido a la comunidad desde 2006.
                <br> desde el momento que empezamos nuestro pequeno negocio hemos mantenido nuestro lema de apoyar a nuestra
                comunidad dando enfasis a la honestidad y servicio excelente a nuestra comunidad.
                <br> Parece no ser mucho en estos tiempos de technologia, nos encanta explicar con lujo de detalles las coverturas
                que nuestros clientes compran sin dejar alguna duda de lo que les cubrira en caso de un desastre. Por eso
                nos enfocamos en ofrecer la mejor covertura a nuestros clientes para cubrir sus necesidades.
                <br> Si busca calidad y honestidad no encontrara otro lugar ideal, estamos a una llamada de su hogar, llamenos
                para contestar cualquier pregunta que se le presente en cuanto a seguros se trata.
            </p>
        </div>
    </div>
    <!-- footer-->
    <div class="container-fluid">
        <div class="text-center" id="footer">
            <h1>Contáctenos</h1>
            <p>Email: estelatwfg@hotmail.com</p>
            <p>Oficina: (832)446-6350</p>
            <p>Mobile: (281)701-7397</p>
            <p>Fax: (832)446-6418</p>
            <p>4420 Cypress Creek Pkwy
                <br> Suite 201</p>
            <h2><a href="/forma">Obtenga una cotización gratis</a></h2>

            <a href="https://www.facebook.com/Estela-Portillo-Twfg-Insurance-210860899505324/" target="_blank">
                <img src="https://i.imgur.com/YJPKBL5.png" alt="facebook" id="facebook">
            </a>
        </div>
    </div>
    <!--Map-->
    <div class="container-fluid">
        <div id="map">
            <script>
                function initMap() {
                    // Create a new StyledMapType object, passing it an array of styles,
                    // and the name to be displayed on the map type control.


                    // Create a map object, and include the MapTypeId to add
                    // to the map type control.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 29.989525, lng: -95.496559 },
                        zoom: 16,
                        styles: [
                            {
                                "featureType": "administrative.land_parcel",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative.neighborhood",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.business",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            }
                        ]
                    });
                    var uluru = { lat: 29.989525, lng: -95.496559 };
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                    //Associate the styled map with the MapTypeId and set it to display.


                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpFicvIMk-qD0f4-YkagX6QVFXR0prLBs&callback=initMap">
            </script>
        </div>

    </div>
</body>

</html>
{% else %}
<head>
</head>

<body>
    <!-- Navigation-->
    <div class="container-fluid">
        <div class="lol">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: white">

                <a class="navbar-brand navbar-logo mx-auto" href="#">
                    <img src="https://i.imgur.com/zoHoex1.png" alt="twfg logo" style="width:241px;" class="img-fluid">
                </a>
            </nav>
            <div id="button" class="text-center">
                <a href="./" class="btn" role="button">English</a>
            </div>
        </div>
    </div>

    <!--Banner
    <div class="text-center" id="banner">
        <h4> {{text}}</h4>
    </div>
    -->
    <!-- main image-->
    <div class="jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">Nuestra Lema es Proteger</h1>
        </div>
    </div>
    <!-- why choose us -->
    <div class="container">
        <div id="why_choose_us" class="text-center">
            <h1>Porque Seleccionarlos</h1>
            <ul>
                <li>Negocio de Familia, Calidad de Servicio</li>
                <li>Experiencia y Profesionalidad</li>
                <li>Precios competitivos</li>
                <li>Variedad de Companias</li>
            </ul>
        </div>
    </div>
    <!-- Services-->
    <div class="container-fluid">
        <div id="services">
            <h2 class="text-center ">Coverturas que ofrecemos</h2>
            <div class="row ">
                <div id="auto-img">
                    <h2 class="text-center">Auto</h2>
                </div>
            </div>
            <div class="row">
                <div id="home-img">
                    <h2 class="text-center">Casa</h2>
                </div>
            </div>
            <div class="row">
                <div id="comm-img">
                    <h2 class="text-center">Comercial</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" id='more'>
            <h2><a href="/mas">Más Coberturas ...</a></h2>
    </div>
    <div id="border1"></div>
    <!-- About Us-->
    <div class="container text-center">
        <div id="about_us">
            <h1>Quienes Somos</h1>
            <p>Somos una compania de familia que ha servido a la comunidad desde 2006.
                <br> desde el momento que empezamos nuestro pequeno negocio hemos mantenido nuestro lema de apoyar a nuestra
                comunidad dando enfasis a la honestidad y servicio excelente a nuestra comunidad.
                <br> Parece no ser mucho en estos tiempos de technologia, nos encanta explicar con lujo de detalles las coverturas
                que nuestros clientes compran sin dejar alguna duda de lo que les cubrira en caso de un desastre. Por eso
                nos enfocamos en ofrecer la mejor covertura a nuestros clientes para cubrir sus necesidades.
                <br> Si busca calidad y honestidad no encontrara otro lugar ideal, estamos a una llamada de su hogar, llamenos
                para contestar cualquier pregunta que se le presente en cuanto a seguros se trata.
            </p>
        </div>
    </div>
    <!-- footer-->
    <div class="container-fluid">
        <div class="text-center" id="footer">
            <h1>Contáctenos</h1>
            <p>Email: estelatwfg@hotmail.com</p>
            <p>Oficina: (832)446-6350</p>
            <p>Mobile: (281)701-7397</p>
            <p>Fax: (832)446-6418</p>
            <p>4420 Cypress Creek Pkwy
                <br> Suite 201</p>
            <h2><a href="/forma">Obtenga una cotización gratis</a></h2>
            <a href="https://www.facebook.com/Estela-Portillo-Twfg-Insurance-210860899505324/" target="_blank">
                <img src="https://i.imgur.com/YJPKBL5.png" alt="facebook" id="facebook">
            </a>
        </div>
    </div>
    <!--Map-->
    <div class="container-fluid">
        <div id="map">
            <script>
                function initMap() {
                    // Create a new StyledMapType object, passing it an array of styles,
                    // and the name to be displayed on the map type control.


                    // Create a map object, and include the MapTypeId to add
                    // to the map type control.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 29.989525, lng: -95.496559 },
                        zoom: 16,
                        styles: [
                            {
                                "featureType": "administrative.land_parcel",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative.neighborhood",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.business",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            }
                        ]
                    });
                    var uluru = { lat: 29.989525, lng: -95.496559 };
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                    //Associate the styled map with the MapTypeId and set it to display.


                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpFicvIMk-qD0f4-YkagX6QVFXR0prLBs&callback=initMap">
            </script>
        </div>

    </div>

</body>

</html>
{% endif %}
{% endblock body %}
