.container-fluid{
  padding: 0 !important;
  overflow: hidden;
}
.navbar-logo{
  width: 500px;
  text-align: center;
}
#button .btn{
  color: white;
  background-color: rgb(53, 111, 130);
  text-align: center;
}
#banner{
  min-height: 40px;
  height:auto;
  width: 100%;
  color: black;
  background-color: rgba(255, 255, 255,.8);
  margin: 0 auto;
  z-index: 8;
  position: absolute;
  top: 187px;
}
#banner h4{
  padding-top: 11px;
  font-weight: bold;
  font-size: 18px;
}
.jumbotron-fluid{
  background-image: url("https://i.imgur.com/GRu291B.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
  top: 10px;
  background-position: center;
  position: relative;
  }
.jumbotron-fluid h1{
  position: relative;
  margin: 0 auto;
  font-size: 75px;
  color: rgb(255, 106, 80);
  border: rgb(53, 111, 130) 5px solid;
  top: 200px;
  width: 310px;
  text-align: center;
  padding-bottom: 15px;
  }
#why_choose_us {
  padding-top: 15px;
  background-color: white;
  border-bottom: rgba(211, 211, 221, .5) solid 3px;
  padding-bottom: 20px;
}
#why_choose_us h1{
  color: rgb(255, 106, 80)
}
#why_choose_us li{
  color: rgb(53, 111, 130)
}
#why_choose_us ul li{
  list-style-type: none;
  margin-left: -30px;
}
#services{
  padding-top: 20px;
}
#services h2{
  color: rgb(255, 106, 80);
}
#auto-img{
  background: url("https://i.imgur.com/mPAvCvc.png") no-repeat center;
  background-size: contain;
  height: 800px;
  width: 100%;
}
#auto-img h2{
  color: rgb(255, 106, 80);
  
}
#home-img{
  background: url("https://i.imgur.com/fPV0qBw.png") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 869px;
}
#comm-img{
  background: url("https://i.imgur.com/XgyA2ka.png") no-repeat center;
  background-size: contain;
  height: 715px;
  width: 100%;
}
#border1 {
  border-bottom: rgba(211, 211, 221, .5) solid 3px;
  width: 60%;
  margin: 0 auto;
  margin-top: -80px;
}
#about_us{
  color: rgb(53, 111, 130);
  padding-top: 35px;
}
#about_us h1{
  color: rgb(255, 106, 80);
}

#footer{
  padding-top: 15px;
  background: rgba(80, 97, 102, 1);
}
#footer h1{
  color: rgb(255, 106, 80);
}
#facebook{
  height: 60px;
  padding-bottom: 10px;
}
#map{
  height: 400px;
}


@media only screen and (min-width: 480px){
  /* for computer or tablets*/
  .navbar-nav{
    padding-right: 100px;
  }
  
  .nav-item{
    padding: 20px;
  }
  #why_choose_us h1{
    font-size: 50px;
  }
  #why_choose_us ul{
    padding-top: 10px;
  }
  #why_choose_us li{
    font-size: 35px;
  }
  #services h2{
    font-size: 50px;
  }
  #auto-img{
    margin-top: -180px;
  }
  #auto-img h2{
    padding-top: 320px;
    font-weight: bold;
    font-size: 70px;
  }
  #home-img{
    margin-top: -420px;
  }
  #home-img h2{
    padding-top: 320px;
    font-size: 70px;
    font-weight: bold;
  }
  #comm-img{
    margin-top: -530px;
  }
  #comm-img h2{
    padding-top: 350px;
    font-size: 70px;
    font-weight: bold;
  }
  #about_us h1{
    font-size: 50px;
  }
  #about_us p{
    font-size: 30px;
  }
  #footer p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px){
  /* for phones */
  .jumbotron-fluid{
    background-image: url("https://i.imgur.com/GRu291B.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    top: 10px;
    background-position: center;
    position: relative;
    }
    .jumbotron-fluid h1{
      position: relative;
      margin: 0 auto;
      font-size: 75px;
      color: rgb(255, 106, 80);
      border: rgb(53, 111, 130) 5px solid;
      top: 100px;
      width: 310px;
      text-align: center;
      padding-bottom: 8px;
      font-style: normal;
      }
    .nav-link , .nav-item {
      text-align: center;
        
    }
    #why_choose_us h1{
      font-size: 38px;
    }
    #why_choose_us li{
      font-size: 18px;
    }
    .container-fluid .row{
      margin-left: -160px;
    }
    #auto-img{
      background-image: url("https://i.imgur.com/PMspVn8.png");
      background-size: cover;
      width: 100%;
      height: 300px;
      background-repeat: no-repeat;
      background-position: bottom center;
      position: relative;
      padding-top: 50px;
      margin-bottom: 30px;
    }
    #auto-img h2{
      padding-top: 70px;
      font-size: 50px;
      padding-left: 210px;
    }
    #home-img{
      background: url("https://i.imgur.com/arhYzXS.png") no-repeat center;
      background-size: cover;
      width: 100%;
      height: 700px;
      position: relative;
      margin-top: -170px;
    }
    #home-img h2{
      padding-top: 320px;
      font-size: 50px;
      padding-left: 120px;
    }
    #comm-img{
      background: url("https://i.imgur.com/wZULMV5.png") no-repeat center;
      background-size: cover;
      width: 100%;
      height: 550px;
      position: relative;
      margin-top: -225px;
    }
    #comm-img h2{
      padding-top: 240px;
      font-size: 50px;
      padding-left: 210px;
    }
    #border1{
      border-bottom: rgba(211, 211, 221, .5) solid 3px;
      width: 90%;
      margin: 0 auto;
      margin-top: -80px;
    }
    #about_us{
      margin-top: -20px;
    }

    #about_us h1{
      font-size: 38px;
    }

  }
